@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@200..700&family=Roboto&display=swap');
:root{
    --primary-color: #10446D;
    --background-color: #F5F5F5;
    --dark-color: #000000;
  }

html {
    font-size: 62.5%; /*este porcentaje equivale a 10 px*/
    font-family: 'Oswald', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    max-width: 120rem;
    margin: 0 auto;    
}

.conteiner-azul{
    background-color: var(--primary-color);
    display: flex;
    padding: 2rem 0;
}

.conteiner-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.conteiner-logo{
    display : flex;
    align-items: center;
}

.logo-reloj {
    width: auto; /* Mantiene la proporción del SVG */
    margin-right: 1px; /* Reduce el margen derecho para acercar el reloj al nombre */
  }

  .logo-nombre a {
    text-decoration: none;
    color : var(--primary-color);
    font-size: 125%;
  }
